html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #0066A1;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: auto;
}

.spacing {
    background-color: #0066A1;
    color: white;
    font-weight: 800;
    font-size: 24px;
    margin: 0 12% 0 12%;
}

.card {
    border-radius: 10px;
    background-color: white;
    margin: 0 12% 50px 12%;
    padding: 20px 20px 20px 20px;
    width: 60%;
}

.outer {
    border-radius: 10px;
    padding: 3px;
    background-color: #D3D3D3;
    width: 90%;
    border:1px solid black;
}

.container {
    border-radius: 0px 0px 25px 25px;
    border: 2px solid black;
    padding-bottom:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 650px;
}

.storage {
    border-radius: 25px 25px 0px 0px;
    border: 2px solid black;
    width: 650px;
    background-color: #D3D3D3;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    padding-top: 10px;
    padding-left:10px;
}

.topnav {
    width: 100%;
    margin: 0 0 0 0;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template: 50px / 42% auto 42%;
    border-bottom: 1px solid black;
}

.center {
    display: grid;
    grid-template: 50px / auto auto;
    padding-top: 15px;

}

.left {
    padding-left: 50px;
}

.right {
    padding-right: 50px;
    padding-top: 15px;
}

a {
    color:black;
    font-weight: 400;
}

form{
    display: inline-block;
}


/*button styling cuz why not?*/
button {
    border: 1px solid black;
    background-color: #0066A1;
    color: white;
    border-radius: 7px;
    width: auto;
    height: 27px; 
    cursor: pointer;


}
button:active {
    border: 1px solid #0066A1;
    background-color: white;
    color: #0066A1;
}
button:focus {
    outline: none;
    border: 1px solid #0066A1;
    background-color: white;
    color: #0066A1;
}





