<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <h2></h2>
   </div>
</main>

<footer>
</footer>

    <form id="myForm" method="post">
        Project Name: <%= name %> <br>
        number: <%= number %> <br>
        ID:<%= id %> <br>
    </form>

</body>
</html>
