<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>
<body>
    <h1>Atos Projects</h1>

    <div id="myGrid" style="height: 600px;width:800px;" class="ag-theme-balham"></div>

    <button onclick="edit()">Edit Value</button>

    <div id="myButton" style="height: 600px;width:600px;" class="ag-theme-balham"></div>

    <script type="text/javascript" charset="utf-8">
	function edit(){
			var row = gridOptions.api.getSelectedRows();
			console.log(row);
		}
        //Stringify: Converts JavaScript object into a JSON String
        var myObj = <%-JSON.stringify(myArray)%>;
        var data =[];
        
        //Parse through JSON String by column name
        var myName = [];
		var myAPN = [];
		var myCreBy = [];
        var myPDscr = [];

        //Parse through JSON String by column name
        for (var i =0; i <myObj.length;i++){
            myName.push(myObj[i].Project_Data[0].Name);
			myAPN.push(myObj[i].Project_Data[0].APN);
			myCreBy.push(myObj[i].Project_Data[0].Created_By);
			myPDscr.push(myObj[i].Project_Description[0].Description);
        }




        for (var i=0; i <myObj.length; i++){
            data.push({name: myName[i],apn: myAPN[i],creby: myCreBy[i], pdscr: myPDscr[i]});
        }

    // specify the columns
      var columnDefs = [
            { headerName: "Project Name", field: "name", sortable: true, filter: true },
			{ headerName: "APN", field: "apn", sortable: true, filter: true },
			{ headerName: "Created By", field: "creby", sortable: true, filter: true },
            { headerName: "Description", field: "pdscr", sortable: true, filter: true }
        ];

    // specify the data
        var rowData =
            data;
        


    // let the grid know which columns and what data to use
        var gridOptions = {
          columnDefs: columnDefs,
          rowData: rowData
        };

      // lookup the container we want the Grid to use
      var eGridDiv = document.querySelector('#myGrid');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);

  </script>
</body>
</html>
