<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <h2></h2>
   </div>
</main>

<footer>
</footer>

    <form id="myForm" method="post">
        Book ID: <%= ID %> <br>
        Book Name: <%= Name %> <br>
        Author:<%= Author %> <br>
        Category: <%= Category %><br>
    </form>

</body>
</html>