<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>
<body>
    <h1>Express Mongo App</h1>

    <div id="myGrid" style="height: 600px;width:800px;" class="ag-theme-balham"></div>

    <button onclick="getSelectedRows()">Get Selected Rows</button>
    <button onclick="getSelectedRows()">Edit Value</button>

    <div id="myButton" style="height: 600px;width:600px;" class="ag-theme-balham"></div>

    <script type="text/javascript" charset="utf-8">

        //Stringify: Converts JavaScript object into a JSON String
        var myObj = <%-JSON.stringify(myArray)%>;
        var data =[];
        
        //Parse through JSON String by column name
        var myAPN = [];
        var myName = [];
        var myCreated_By = [];
		var myCreated_At = [];
		var myLastMod = [];
		var myProject_Description = [];

        //Parse through JSON String by column name
        for (var i =0; i <myObj.length;i++){
            myAPN.push(myObj[i].Project_Data.APN);
			myName.push(myObj[i].Project_Data.Name);
			myCreated_By.push(myObj[i].Project_Data.Created_By);
			myCreated_At.push(myObj[i].Project_Data.Created_At);
			myLastMod.push(myObj[i].Project_Data.Last_Modified_At);
			myProject_Description.push(myObj[i].Project_Description.Description);
        }




        for (var i=0; i <myObj.length; i++){
            data.push({apn: myAPN[i], name: myName[i], creAt: myCreated_At[i], creBy: myCreated_By[i], lastM: myLastMod[i], pDscr: myProject_Description[i]});
        }

    // specify the columns
      var columnDefs = [
            { headerName: "APN", field: "apn", sortable: true, filter: true },
            { headerName: "Name", field: "name", sortable: true, filter: true },
            { headerName: "Created", field: "creAt", sortable: true, filter: true },
			{ headerName: "Created By", field: "creBy", sortable: true, filter: true},
			{ headerName: "Modified", field: "lastM", sortable: true, filter: true },
			{ headerName: "Description", field: "pDscr", sortable: true, filter: true }
        ];

    // specify the data
        var rowData =
            data;
        


    // let the grid know which columns and what data to use
        var gridOptions = {
          columnDefs: columnDefs,
          rowData: rowData
        };

      // lookup the container we want the Grid to use
      var eGridDiv = document.querySelector('#myGrid');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);

  </script>
</body>
</html>
